apiVersion: v1
kind: ReplicationController
metadata:
  name: heapster-v10
  namespace: kube-system
  labels:
    k8s-app: heapster
    version: v10
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: heapster
    version: v10
  template:
    metadata:
      labels:
        k8s-app: heapster
        version: v10
        kubernetes.io/cluster-service: "true"
    spec:
      nodeSelector:
        region: "us-east-1"
        running: "yes"
      containers:
        - image: gcr.io/google_containers/heapster:v0.18.2
          name: heapster
          command:
            - /heapster
            - -source=kubernetes:http://{{ k8s.master_address }}:{{ k8s.port }}?inClusterConfig=false&useServiceAccount=true&auth=
            - -use_model=true
            - -stats_resolution=5s
            - -model_resolution=30s

---

kind: Service
apiVersion: v1
metadata:
  name: heapster
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "Heapster"
spec:
  ports:
    - port: 80
      targetPort: 8082
  selector:
    k8s-app: heapster
